/**
 * Custom properties
 */

:root {
  --ezp-printerSelection-width: auto;
  --ezp-printerSelection-height: 100%;
  --ezp-printerSelection-padding: 16px 16px 70px;
  --ezp-printerSelection-footer-rows: auto auto;
  --ezp-printerSelection-footer-columns: 100%;
  --ezp-printerSelection-footer-areas: 'print' 'cancel';

  --ezp-brand-solid-primary: rgba(0, 145, 180, 1);
  --ezp-brand-solid-secondary: rgba(32, 155, 191, 1);
  --ezp-brand-solid-tertiary: rgba(0, 128, 160, 1);
  --ezp-core-shade-primary: rgba(139, 139, 139, 0.1);
  --ezp-core-shade-secondary: rgba(139, 139, 139, 0.16);
  --ezp-core-shade-tertiary: rgba(139, 139, 139, 0.22);
  --ezp-core-shadow: rgba(0, 0, 0, 0.15);
  --ezp-core-outline: rgba(99, 99, 99, 0.16);
}

/**
 * Base
 */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template: 1fr / 1fr;
  box-shadow: inset 0 1px 0 0 var(--ezp-core-outline);
}

/**
 * Printing section
 */

#printingSection {
  display: grid;
  grid-template: 1fr / 1fr auto;
}

/**
 * Panel
 */
.ezp-wrap {
  position: relative;
}

/**
 * Box
 */
.ezp-box {
  padding: 16px;
}

/**
 * Panel
 */
.ezp-panel {
  background: white;
  box-shadow: 0px 2px 4px var(--ezp-core-shadow);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
}

.ezp-panel__description {
  margin: 0;
}

.ezp-panel__actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

.ezp-panel__actions {
  --ezp-button-minWidth: 200px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 8px;
}

/**
 * Logo
 */
.ezp-logo {
  height: 20px;
/*  margin: 8px 0;*/
}

.ezp-logo > img {
  display: block;
  margin: 0;
  width: 78px;
  height: 32px;
}

/**
 * Hero
 */

.ezp-hero {
  margin: -16px -16px 0;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
}

.ezp-hero > img {
  width: 100%;
  height: auto;
}

/**
 * Footer
 */

.ezp-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 54px;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  display: grid;
  grid-template: auto / 1fr;
  align-items: center;
  box-shadow: 0 -1px 0 0 var(--ezp-core-outline);
}

/**
 * Button
 */
.ezp-button {
  background: transparent;
  border: 0;
  box-shadow: none;
  appearance: none;
  font-family: inherit;
  display: block;
  margin: 0;
  padding: 0 10px;
  height: 30px;
  border-radius: 3px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  min-width: var(--ezp-button-minWidth, auto);
}

.ezp-button > span {
  pointer-events: none;
}

.ezp-button--primary {
  background: var(--ezp-brand-solid-primary);
  color: white;
}

.ezp-button--primary:hover {
  background: var(--ezp-brand-solid-secondary);
}

.ezp-button--primary:active {
  background: var(--ezp-brand-solid-tertiary);
}

.ezp-button--secondary {
  background: var(--ezp-core-shade-primary);
  color: var(--ezp-brand-solid-primary);
}

.ezp-button--secondary:hover {
  background: var(--ezp-core-shade-secondary);
}

.ezp-button--secondary:active {
  background: var(--ezp-core-shade-tertiary);
}

.ezp-button--tertiary {
  color: var(--ezp-brand-solid-primary);
}

.ezp-button--tertiary:hover {
  background: var(--ezp-core-shade-primary);
}

.ezp-button--tertiary:active {
  background: var(--ezp-core-shade-secondary);
}

/* needs to be replaced or deleted when ezp-status is available outside of ezeep.js */
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
